
  <div class="bg-1">
    <div class="container">
      <h3 class="text-center">TOUR DATES</h3>
      <p class="text-center">Lorem ipsum we'll play you some music.<br> Remember to book your tickets!</p>
  
      <ul class="list-group">
        <li class="list-group-item">September Sold Out!</li>
        <li class="list-group-item">October Sold Out!</li>
        <li class="list-group-item">November 3</li>
      </ul>
    </div>
  </div>
  <div class="row text-center" style="">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/paris.jpg" alt="Paris">
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn">Buy Tickets</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/paris.jpg" alt="New York">
        <p><strong>New York</strong></p>
        <p>Sat. 28 November 2015</p>
        <button class="btn">Buy Tickets</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/paris.jpg" alt="San Francisco">
        <p><strong>San Francisco</strong></p>
        <p>Sun. 29 November 2015</p>
        <button class="btn">Buy Tickets</button>
      </div>
    </div>
  </div> 

  